<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="username"  value="facebook"></parameter>
  <parameter name="password"  value="123654789"></parameter>
    <classes>
      <class name="org.test.Employee"/>
      <class name="org.test.Client"/>
      <class name="org.test.Simple"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
